@import url('style-index.css');
.wrapper {
    overflow: hidden;
}
.cenik {
    background-color: var(--dark-pink);
    padding: 2rem;
    margin-top: 2rem;
    box-sizing: border-box;
}
.cenik img {
    box-sizing: border-box;
}
main {
    flex-direction: column;
}
.wrapper {
    background: linear-gradient(150deg, #DFC0C0, #FFECEC);
}
.blobs {
    position: absolute;
    top: 0;
}
.blobs > div {
    width: 56%;
}
.left {
    transform: translateX(-50%);
}
.right {
    transform: translate(120%, -100%);
}
.top {
    transform: translateY(-50%);
}