:root {
    --dark-pink: rgb(223, 191, 191);
    --after-color: rgb(174, 115, 115);
    --button-color: rgb(210, 179, 179);
}
@keyframes navbar-open {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes navbar-close {
    0% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(0);
        opacity: 0;
    }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
  margin: 0;
  padding: 0;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: larger;
    text-align: center;
    line-height: 1.5;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.button {
    display: inline-block;
    height: 60px;
    width: 200px;
    background-color: var(--button-color);
    border-radius: 30px;
    display: grid;
    place-content: center;
    transition: transform .2s ease-in-out;
}
.button:hover {
    transform: scale(1.1);
    background-color: rgb(174, 115, 115);
}
header {
    position: sticky;
    top: 0;
    border-bottom: solid black 2px;
    height: 100px;
    background-color: #DFC0C0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 99;
}
header * {
    color: black;
}
header > * {
    margin-inline: 5rem;
}
.mobile-menu {
    display: none;
}
div,
img {
    border-radius: 30px;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.wrapper {
    background: linear-gradient(150deg, #DFC0C0, #FFECEC);
    position: relative;
    border-radius: 0;
}
.name {
    padding-right: 10px;
    border-right: solid black 3px;
}
.links, .social {
    display: flex;
    justify-content: space-between;
    line-height: 1;
}
.links > a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--after-color);
    width: 0;
    transition: width .3s ease-in-out;
}
.links > a:hover::after {
    width: 100%;
}
.links > * {
    margin-inline: .5rem;
}
.social a {
    margin-inline: .5rem;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 4rem;
}
main h1 {
    font-family: 'Monoton', sans-serif;
    font-size: 70px;
}
.welcome-text {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   line-height: 3;
}
#welcome-image {
    object-fit: cover;
    width: 40%;
    height: 40%;
}
button {
    border: solid black 3px;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
}
.shadow {
    box-shadow: 15px 8px 4px rgb(205, 176, 176);
}
.section-header {
    background-color: white;
    font-size: 30px;
    font-weight: 600;
    border-radius: 0;
    height: 100px;
    color: black;
    display: grid;
    place-content: center;
    width: 100%;
}
.work {
    background-image: url("../img/circle-scatter-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.work-card {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    */
    padding-block: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.work-card img {
    width: 60%;
    object-fit: cover;
    object-position: right;
    transition: transform .1s ease-in-out;
}
.work-card img:hover {
    transform: scale(1.1);
}
.description {
    display: grid;
    place-content: center;
    padding-inline: 2rem;
}
.aboutme {
    background-color: rgb(77, 97, 78);
}
.info {
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
}
.info * {
    padding-inline: 1rem;
}
.info p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1.2px;
    width: 800px;
}
#portrait {
    width: 25%;
    height: auto;
}

.galery-grid {
    background-color: var(--dark-pink);
    margin: 2rem;
    padding: 2rem;
    overflow: hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: dense;
}
.smaller {
    height: 100%;
}
.tall {
    grid-row: span 2;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-block: 2rem;
}
.kadernictvi, .kosmetika {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--dark-pink);
    width: 30%;
    height: 300px;
}