@import url('style-index-mobile.css');
@media only screen and (max-width: 450px) {
    .cenik {
        padding: 0;
        margin: 0 1rem 0 1rem;
    }
    main {
        flex-direction: column;
        background-position: unset;
        padding: 0 2rem 0 2rem;
    }
    .cena {
        border-radius: 20px;
    }
}
@media only screen and (min-width: 1700px) {
    main {
        flex-direction: row;
    }
    img {
        width: 100%;
    }
}